{% extends "index.html" %}

{% block content %}
    <h1 class="title fw-bold">Informations sur le commutateur</h1>
    <table class="table table-striped w-50 mx-auto col-md-12 text-center mt-4">
        <tr>
            <th>Nom : </th>
            <td>{{ com.nom }}</td>
        </tr>
        <tr>
            <th>ID : </th>
            <td>{{ com.id }}</td>
        </tr>
        <tr>
            <th>Date de maintenance : </th>
            <td>{{ com.maintenanceDate }}</td>
        </tr>
        <tr>
            <th>Type : </th>
            <td>{{ com.get_Type_display }}</td>
        </tr>
        <tr>
            <th>Propriétaire : </th>
            <td>{{ personne.nom }}</td>
        </tr>
        <tr>
            <th>Infrastructure(s) : </th>
            <td>{{ infrastructures.nom }}</td>
        </tr>
    </table>
    <div class="col-md-12 text-center mt-4">
        <img src="../../static/computerApp/images/com.png" alt="logo" class="img-fluid mx-auto" width="200" height="500">
    </div>
    <a href="{% url 'com-delete' com.id %}" class="btn btn-danger">Supprimer {{ com.nom }}</a>
    <a href="{% url 'coms' %}" class="btn btn-secondary ">Retour</a>
{% endblock %}
