{% extends "index.html" %}

{% block content %}
    <h1 class="title">Composition de l'infrastructure : {{ infrastructure.nom }}</h1>
    {% if machines %}
        <table class="table table-striped w-50 mx-auto col-md-12 text-center mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                {% for machine in machines %}
                    <tr>
                        <td><a href="{% url 'machine-detail' machine.id %}">{{ machine.id }}</a></td>
                        <td>{{ machine.nom }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune machine n'est associée à cette infrastructure.</p>
    {% endif %}

    <a href="#" class="btn btn-primary">Ajouter à {{ infrastructure.nom }}</a>
    <a href="{% url 'delete-infrastructure' infrastructure.id %}" class="btn btn-danger">Supprimer {{ infrastructure.nom }}</a>
    <a href="{% url 'infrastructures' %}" class="btn btn-secondary">Retour</a>
{% endblock %}