<!-- login.html -->

{% extends "index.html" %}

{% block content %}
    <h1 class="title">Connexion</h1>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form method="POST" action="{% url 'index' %}" class="form">
      {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Identifiant</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
        </div>
        <button type="submit" class="btn btn-primary">Connexion</button>
      </form>
{% endblock %}
