{% extends "index.html" %}

{% block content %}
    <h1 class="title">Ajouter une machine</h1>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.nom.id_for_label }}" class="form-label">Nom de la machine :</label>
            {{ form.nom }}
        </div>
        <div class="form-group">
            <label for="{{ form.prenom.id_for_label }}" class="form-label">Prénom :</label>
            {{ form.prenom }}
        </div>
        <div class="form-group">
            <label for="{{ form.type_machine.id_for_label }}" class="form-label">Type de machine :</label>
            {{ form.type_machine }}
        </div>
        <div class="form-group">
            <input type="submit" value="Créer" class="btn btn-primary">
        </div>
    </form>
{% endblock %}