{% extends "index.html" %}

{% block content %}
    <h1 class="title">Informations sur la machine</h1>
    <table class="table table-striped w-50 mx-auto col-md-12 text-center mt-4">
        <tr>
            <th>Nom : </th>
            <td>{{ machine.nom }}</td>
        </tr>
        <tr>
            <th>ID : </th>
            <td>{{ machine.id }}</td>
        </tr>
        <tr>
            <th>Date de maintenance : </th>
            <td>{{ machine.maintenanceDate }}</td>
        </tr>
        <tr>
            <th>Type : </th>
            <td>{{ machine.Type }}</td>
        </tr>
        <tr>
            <th>Propriétaire : </th>
            <td>{{ personne.prenom }}</td>
        </tr>
    </table>
    <a href="{% url 'machine-delete' machine.id %}" class="btn btn-danger">Supprimer {{ machine.nom }}</a>
    <a href="{% url 'machines' %}" class="btn btn-secondary ">Retour</a>
{% endblock %}
