{% extends "index.html" %}

{% block content %}
    <h1 class="title fw-bold">Liste des machines</h1>
    {% if machines %}
        <div class="row">
            {% for machine in machines %}
            <div id="PC" class="card border-info mb-3 col-md-6 col-lg-4 mx-auto" style="max-width: 18rem;"> 
                <img src="../../static/computerApp/images/pc.png" class="card-img-top" alt="logo">
                <div class="card-body">
                  <h5 class="card-title">{{ machine.id }} : {{ machine.nom }}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'machine-detail' machine.id %}" class="btn btn-primary">Détails</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="btn btn-success" href="{% url 'add-machine' %}" >Ajouter une machine</a>
    {% else %}
        <p class="tab">Il n'y a pas de machines</p>
        <a class="btn btn-success" href="{% url 'add-machine' %}" >Ajouter une machine</a>
    {% endif %}
{% endblock %}