{% extends "index.html" %}

{% block content %}
    <h1 class="title">Liste des machines</h1>
    {% if machines %}
    <table class="table table-striped w-50 mx-auto ">
        <tr>
            <th>ID</th>
            <th>Nom</th>
        </tr>
        {% for machine in machines %}
        <tr>
            <td><a href="{% url 'machine-detail' machine.id %}">{{ machine.id }}</a></td>
            <td>{{ machine.nom }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="tab">Il n'y a pas de machines</p>
    {% endif %}

    <!-- <div class="card" style="width: 18rem;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
        <div class="card-body">
          <h5 class="card-title">{{ machine.nom }}</h5>
          <a href="#" class="btn btn-primary">Détails Machine : {{ machine.id }}</a>
        </div>
      </div> -->

{% endblock %}

