{% extends "index.html" %}

{% block content %}
    <h1 class="title">Liste des personnes</h1>
    {% if personnes %}
    <table class="table table-striped w-50 mx-auto">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>
        {% for personne in personnes %}
        <tr>
            <td><a href="{% url 'personne-detail' personne.id %}">{{ personne.id }}</a></td>
            <td>{{ personne.nom }}</td>
            <td>{{ personne.prenom }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="title">Il n'y a pas de personne</p>
    {% endif %}

{% endblock %}